.box{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
}
.box-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.box-data > label{
    width: 40%;
    font-size: 14px;
}

.box-data > input,
.box-data > select{
    border: 1px solid #000;
    border-radius: 10px;
    width: 60%;
    height: 35px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
}
.fileContent{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fileContent > h5 {
    font-weight: 600;
}
.file-box{
    width: 100%;
}
.file-box > input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 5px;
}
#file-input{
    display: none;
}
#file-label{
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px 5px;
}
#preview-container {
    text-align: center;
    display: none;
    margin-top: 10px;
    position: relative;
  }
  #undo-button{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: red;
  }

  #preview-image {
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 10px;
  }

  #undo-button  > img {
    width: 20px;
  }
  .submitButton > #boChangeSubmit{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
  }
#errorDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    width: 85vw;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #000;
    z-index: 1002;
}
#closePopUp{
    background-color: #4CB050;
    padding: 3px 0px;
    color: #fff;
    margin: 5px;
    border-radius: 10px;
}
#historyBody > table{
    width: 100%;
    background: #fff;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #000;
}
#historyBody > table > tbody > tr > td:first-child{
    width: 40%;
    padding-left: 5px;
}
#historyBody > table > tbody > tr > td:last-child{
    width: 60%;
    padding-right: 5px;
}