.changePassBody > form > div > input{
    width: 100%;
    background-color: #fff;
    height: 45px;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 0px 5px;
}
.inputItem{
    position: relative;
}
.iconPass{
    position: absolute;
    top: 30%;
    right: 2%;
}
#resultMsg{
    display: inline-block;
    padding: 7px 15px;
    background-color: #4CB050;
    border-radius: 5px;
    color: #fff;
    animation: animateResult 2s ease-in-out;
}
@keyframes animateResult {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}