.search-reload{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.allCompanyList{
    margin-top: 5px;
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px #000000de;
    padding: 0px;
    
}
.allCompanyList > .allCompanyListItem{
    border-bottom: 1px solid #00000059;
    padding: 5px 10px;
    margin-bottom: 2px;
}
.search-reload > input{
    width: 80%;
    border: 1px solid #000;
    font-size: 16px;
}

.box{
    border: 1px  solid #000;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #000;
}
.heading_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .drop-box > img{
    width: 25px;
} */
.drop-box > img:last-child{
    rotate: 180deg;
}
/* .reload > img {
    width: 35px;
} */
#basic-more > table{
    margin-top: 15px;
    border-color: #000 !important;
}
#basic-more > table > tbody > tr > td{
    border-bottom: 1px solid #000;
    width: 50%;
    overflow-wrap: anywhere;
}
#basic-more > table > tbody > tr > td:last-child{
    text-align: right;
}
#priceHistory-more,
#dividend-more,
#finance-more{
    position: relative;
    height: 350px;
    overflow-y: auto;
}
#priceHistory-more > table,
#dividend-more > table,
#finance-more > table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
#priceHistory-more > table > tbody{
    position: relative !important;
    overflow-y: auto !important;
}
#priceHistory-more > table > tbody > tr:first-child,
#dividend-more > table > tbody > tr:first-child,
#finance-more > table > tbody > tr:first-child{
    position: sticky;
    top: 0;
    background-color: #6200ED;
}
#priceHistory-more > table > tbody > tr:first-child > th,
#dividend-more > table > tbody > tr:first-child > th,
#finance-more > table > tbody > tr:first-child > th{
    color: #fff;
    font-size: 14px;
    padding: 5px 5px;
    text-align: center;
    /* overflow-wrap: break-word; */
}
/* #priceHistory-more > table > tbody > tr:first-child > th:first-child,
#dividend-more > table > tbody > tr:first-child > th:first-child,
#finance-more > table > tbody > tr:first-child > th:first-child{
    -webkit-padding-start: 10px;
    text-align: center;
}
#priceHistory-more > table > tbody > tr:first-child > th:last-child,
#dividend-more > table > tbody > tr:first-child > th:last-child,
#finance-more > table > tbody > tr:first-child > th:last-child{
    -webkit-padding-end: 10px;
} */
/* #priceHistory-more > table > tbody > tr > th,
#dividend-more > table > tbody > tr > th, */
#finance-more > table > tbody > tr > th{
    width: 20% !important;
}
#finance-more > table > tbody > tr > td{
    width: 20%;
}
#priceHistory-more > table > tbody > tr:first-child > th,
#dividend-more > table > tbody > tr:first-child > th{
    width: 25%;
}
#priceHistory-more > table > tbody > tr > td,
#dividend-more > table > tbody > tr > td{
    width: 25%;
}
#priceHistory-more > table > tbody > tr > td,
#dividend-more > table > tbody > tr > td,
#finance-more > table > tbody > tr > td{
    width: 20%;
    font-size: 13px;
    padding: 10px 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #000 ;
    text-align: right;
    overflow-wrap: break-word;
}
#dividend-more > table > tbody > tr > td{
    width: 20%;
    font-size: 13px;
    padding: 10px 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #000 ;
    text-align: left;
    overflow-wrap: break-word;
}
#priceHistory-more > table > tbody > tr > td:first-child,
#dividend-more > table > tbody > tr > td:first-child,
#finance-more > table > tbody > tr > td:first-child{
    -webkit-padding-start: 10px;
    border-left: 1px solid #000;
    border-radius: 15px 0px 0px 15px;
    text-align: left;
}
#priceHistory-more > table > tbody > tr > td:last-child,
#dividend-more > table > tbody > tr > td:last-child,
#finance-more > table > tbody > tr > td:last-child{
    -webkit-padding-end: 10px;
    border-right: 1px solid #000;
    border-radius: 0px 15px 15px 0px;
}
/* .companyInfoBox{
    position: fixed;
    top: 0;
} */
.companyHeaderBox,
.companyCategoryBox,
.price_up_down{
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
}
.companyCategoryBox > p{
    font-size: 14px;
}
.negative-change {
    background-color: #FE0000;
}
.positive-change {
    background-color: #04A41E;
}

/* ===============Graph=========== */
.switcher {
	display: flex;
	align-items: center;
	height: 30px;
	margin-top: 8px;
	color: #2196F3;
}

.switcher-item {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	padding: 6px 8px;
	font-size: 14px;
	color: #262b3e;
	background-color: transparent;
	margin-right: 8px;
	border: none;
	border-radius: 4px;
	outline: none;
}

.switcher-item:hover {
	background-color: #f2f3f5;
}

.switcher-active-item {
	text-decoration: none;
	cursor: default;
	color: #262b3e;
}

.switcher-active-item,
.switcher-active-item:hover {
	background-color: #e1eff9;
}
.tv-lightweight-charts{
    width: 100% !important;
}
.tv-lightweight-charts > table {
    width: 100% !important;
}