/*=================Button================*/
.btnGroup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 5px;
    background-color: #fff;
}
.btnGroup > .Btn{
    padding: 8px 0px;
    border: 1px solid #0000005b;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    width: 48%;
    text-align: center;
}
.btnGroup > .active{
    background-color: rgb(3, 3, 51);
    color: #fff;
}

.transferHistory{
    background-color: #fff;
}
/*=================table================*/
#upcomingDividendContent > table,
#passedDividendContent > table{
    width: 100%;
}
.boxItem{
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px #000;
    padding: 3px 0px;
    font-size: 13px;
}
.innerRow{
    display: flex;
    padding: 7px 0px;
}
.itemDeclarationDate{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}
.innerCol1{
    width: 40%;
    padding-left: 5px;
}
.innerCol2{
    width: 60%;
    padding-right: 5px;
}
.itemHeading{
    font-size: 16px;
    font-weight: 600;
}
.headingRow{
    border-bottom: 1px solid #0000009c;
    
}
.footerRow{
    border-top: 1px solid #0000009c;
}