.home_marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .home_marquee >  #marqueeContainer {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
  }
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }






/*-----------------Utilities-------------------*/
*{
    
    word-wrap: break-word;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}
hr{
    margin: 0;
}

.section-header{
    height: 80px;
}
#navbarAfter,
.heading{
    height: 100%;
}
body{
   
    background-color: #676a6666;
    
}


/*-----------------Header-------------------*/
.section-header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

/*-----------------profile-------------------*/
.section-profile{
    margin-top: 5px;
}
.profile-content{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: #fff;
    display: flex;
}
.leftSide{
    text-align: center;
    width: 30%;
    padding: 5px;
}
.rightSide{
    width: 70%;
    padding: 5px;
    border: 1px solid #adb5bd;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #0003;
}
.hr_profile{
    margin: 15px 0px;
    border: 1.5px solid #000;
    opacity: 1;
}
.userImage > img{
    width: 100%;
}
.profileBtn{
    margin-top: 5px;
    text-align: center;
    background-color: #A4B799;
    border-radius: 5px;
    padding: 5px 0px;
}
.table1MoreDetails{
    background-color: #fff;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #000;
}

/*-----------------Marquee-------------------*/
.home_marquee_section{
    margin-top: 10px;
}
.home_marquee{
    background-color: #fff;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}
/*-----------------table-------------------*/
.executedTrades {
    background-color: #fff;
    padding: 0px 5px;
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    margin-bottom: 10px;
}
.executedTrades > .btnRow {
    position: sticky;
    top: 0;
}
.moreHeading{
    display: flex;
    border: 1px solid #000;
    border-radius: 10px;
    justify-content: space-between;
    padding: 5px 0px;
}
.moreHeading> img{
    padding-right: 5px;
}
.moreHeading> h3{
    margin: 0;
}
.table1Content-btn,
.table-2Content
{
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: #fff;
}
.popUpSec{
    margin-top: 0px;
    width: 100%;
    height: var(--vh);
    background-color: #fff;
    position: absolute;
    top: 80px;
}
#more-table1{
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: #fff;
    
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
 .column-left{
    padding-left: 10px;
    width: 60%;
    border:1px solid #000 !important;
    margin-bottom: 5px;
    border-radius: 10px 0px 0px 10px;
    border-right: 1px solid #fff;
    font-size: 14px;
}
.column-right{
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    border:1px solid #000 !important;
    margin-bottom: 5px;
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid #fff;
    font-size: 14px;
}
.column-right >div{
    display: flex;
    justify-content: space-between;
}
.more{
    color: #00008C;
    font-size: 16px;
    font-weight: 700;
}

.availableStockHeading,
.availeExecutedTradesHeading{
    text-align: center;
    margin-top: 15px;
    padding: 15px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #e9ecefd9;
}
.btnRow{
    background-color: #fff;
    padding: 5px 0px;
}
.btnGroup{
    display: flex;
    background-color: #676a66e8;
    justify-content: space-around;
    padding: 10px 0px;
    align-items: center;
}
.stockBtn{
    padding: 8px 0px;
    border: 3px solid #676a66e8;
    border-radius: 10px;
    width: 48%;
}
.btnGroup > .active{
    padding: 8px 0px;
    border: 2px solid #000;
    border-radius: 10px;
}
.currentBtn,.oldButton{
    font-size: 14px;
    color: white;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}
.currentStockBody,
.oldStockBody{
    position: relative;
}
.stockBody{
    max-height: 480px;
    overflow-y: auto;
    background-color: #fff;
    padding: 0px 10px;
    border-radius: 0px 0px 10px 10px;
}
.executedTrades > div > table,
.oldStockBody > div > table,
.currentStockBody > div >  table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    overflow-y: auto;
    max-height: 200px;
}

.executedTrades > div > table > tbody > tr:first-child,
.oldStockBody > div >  table > tbody > tr:first-child,
.currentStockBody > div >  table > tbody > tr:first-child{
    position: sticky;
    top: 0;
    background-color: black;
}
.executedTrades > div > table > tbody > tr:first-child{
    top: 60px !important;
}
.executedTrades > div > table > tbody > tr:first-child > th,
.oldStockBody > div >  table > tbody > tr:first-child > th,
.currentStockBody > div >  table > tbody > tr:first-child > th{
    overflow-wrap: break-word;
    color: #fff;
    font-size: 14px;
    padding: 5px 5px;
    text-align: center;
}
.executedTrades > div > table > tbody > tr > td,
.oldStockBody > div >  table > tbody > tr > td,
.currentStockBody > div >  table > tbody > tr > td{
    font-size: 13px;
    padding: 5px 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    overflow-wrap: break-word;
    text-align: right;
}
.executedTrades > div > table > tbody > tr > td:first-child,
.oldStockBody > div >  table > tbody > tr > td:first-child,
.currentStockBody > div >  table > tbody > tr > td:first-child{
    padding-left: 10px;
    border-left: 1px solid #000;
    border-radius: 15px 0px 0px 15px;
    text-align: left;
}
.executedTrades > div > table > tbody > tr > td:last-child,
.oldStockBody > div >  table > tbody > tr > td:last-child,
.currentStockBody > div >  table > tbody > tr > td:last-child{
    padding-right: 10px;
    border-right: 1px solid #000;
    border-radius: 0px 15px 15px 0px;
}

.currentStockFooter,
.oldStockFooter{
    position: sticky;
    bottom: 0;
    display: flex;
    background-color: #212529f5;
    color: #fff;
    justify-content: space-between;
    margin: 0px -10px;
    border-radius: 0px 0px 5px 5px;
}
.currentStockFooter > p,
.oldStockFooter > p{
    padding: 5px 15px;
    padding-right: 20px
}
.section-ExecutedTrades > .container > .btnRow > .btnGroup{
    background-color: #fff;
    padding: 0;
}
.section-ExecutedTrades > .container > .btnRow > .btnGroup > input
{
    text-align: center;
    background-color: #dee2e6;
    border: 1px solid #000;
    padding: 5px 0px;
    border-radius: 5px;
}

.searchImg{
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 5px;
}
.input-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.input-box > .date_input{
    padding-bottom: 5px;
}
.input-box > .date_input >  input {
    padding: 10px 2px;
    background-color: #676a6666;
    border-radius: 10px;
    font-weight: 500;
    max-width: 105px;
    font-size: 14px;
    text-align: center;
}


/*-----------------Footer-------------------*/
.section-footer{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    background-color: #dee2e6;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* box-shadow: 0px -4px 10px -1px #000000a1; */

}
/* .footer-icon{
    margin: 5px 10px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
} */
