a{
    text-decoration: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

.popupOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 10;
}
#showResult{
    text-align: center;
}
#resultMessage{
    display: inline-block;
    background-color: green;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
}
.logo-01 > img{
    width: 40px;
    height: auto;
}
/*===============Top Section=============*/
.topSection{
    flex: 0 0 auto;
    height: 56px;
    background-color: #191E2C
}

.btn-login-get01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: #A4B799;
    margin: 5px;
    color: white;
}
.homeContent{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* .homeContent{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
} */

.about01 >h5>a{
    color: blue;
}


.appInfo{
    text-align: right;
}

/*===============HomeMain Section=============*/
.homeMainSection{
    flex: 1 1 auto;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*===============Login Section=============*/
.logInSection {
   width: 85%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}
.logInDetails{
    background-color: rgba(0, 0, 0, 0.154);
    padding: 10px;
}
.logInDetails > form > div > .inputStyle{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #0000005c;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    padding-left: 20px;
}
.password-container{
    position: relative;
}
.logInPassIcon{
    position: absolute;
    top: 10px;
    right: 5px;
}
.input-color{
    color: #fff;
}
.form-check{
    display: flex;
    height: 35px;
    align-items: center;
}
.form-check-label{
    color: white;
}
.checkboxStyle{
    border: 2px solid #fff;
    background-color: #0000005c;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.inputStyle::placeholder{
    color: white;
}
.logInBtnRow > input{
    /* width: 100%;
    padding: 5px 0px; */
    margin: 0;
    padding: 0;
}

.login-btn{
    font-size: 18px;
    margin: 0;
    width: 100%;
    padding: 5px 0px;
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}

/*===============Get New 01=============*/
.validationError > p{
    display: inline-block;
    font-size: 12px;
    color: red;
    margin: 0;
}
.getNew01Section{
    /* height: 100%; */
    /* position: absolute; */
  top: 20%;
}
.instructionLine{
    color: #fff;
    font-size: 12px;
    margin: 0;
    margin-bottom: 5px;
}

.get-new-01-ID{
    background-color: rgba(0, 0, 0, 0.154);
    padding: 10px;
    
}
.get-new-01-ID > form > input,
.get-new-01-ID > form > div > input{
    background-color: #0000005c;
    width: 100%;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    padding-left: 5px;
    font-size: 13px;

}
.country-city{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.country-city > select{
    width: 48%;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    background-color: #0000005c;
    color: #fff;
    font-size: 13px;
}
option{
    color: #000;
}
.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile > span{
    width: 15%;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    height: 35px;
    margin-bottom: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-bottom: 5px;

}
.mobile > input{
    width: 80%;
    height: 35px;
    margin-bottom: 5px;
    background-color: #0000005c ;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    padding-left: 5px;
    font-size: 13px;
}
.get-new-01-ID > form > select{
    width: 100%;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    background-color: #0000005c;
    color: #fff;
    margin-bottom: 5px;
    font-size: 13px;
}
.get-new-01-ID > form > input{
    margin-bottom: 10px;
}
.form-check > input{
    width: 25px !important;
    height: 25px !important;
}

/* a{
    text-decoration: none;
    color: white;
} */

hr{
    margin: 0px;
}
/* body, html {
    margin: 0;
    padding: 0;
} */
body {
    background-image: url('../images/logInBAckground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.sendMessageSection,
.videoChatSection{
    height: 100%;
    z-index: 1035;
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    transition:  0.5s ease-in-out;
}
.support-content {
    text-align: center;
}
.close-support-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.socialIcon{
    width: 100%;
    display: flex;
}
.icon{
    margin: 5px;
}
.icon > a >img{
    width: 45px;
}
.icon:hover {
    opacity: 0.7;
}

.forgotPass{
    color: white;
    margin-top: 15px;
}
.modal-content{
    align-items: center;
}
.recoverPassHeading{
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    background-color: #000;
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
}
.recoverPassBody{
    width: 100%;
    padding: 0px 10px;
}
.recoverPassword{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.recoverPassBtn{
    display: flex;
}
.forgotPasswordModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #fff; 
    z-index: 10;
    border-radius: 10px;
}
.input-recoverPass{
    color: #000;
    height: 50px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 10px;
}
.input-recoverPass::placeholder{
    color: #00000083;
    font-size: 14px;
}
.recoverPassBtn{
    width: 100%;
    border-top: 1px solid #000
}
.ok,
.close{
    padding: 8px 0px;
    width: 50% ;
}
.ok{
    background-color: green;
}
/*-----------------Send Message-------------------*/

.sendMessageHeading{
    background-color: #2e0339;
}
.sendMessageHeading > h3{
    color: white;
    margin: 0;
    padding: 10px 0px;
    font-size: 16px;
}
.sendMessageBody > form{
    margin-top: 10px;
}
.sendMessageBody > form >select{
    width: 100%;
    color: #000;
    margin-bottom: 10px;
    height: 45px;
    border-radius: 5px;
}
.sendMessageBody > form .inputStyle{
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 20px;
}
#video_req_mobileContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#video_req_mobileContainer > select{
    width: 22%;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    /* padding-left: 20px; */
}
#video_req_mobileContainer > input{
    width: 75%;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 20px;
    color: #000;
}
.sendMessageBody > form > input::placeholder,
.sendMessageBody > form > input{
    color: #000;
}
.sendMessageBody > form > textarea{
    border-color: #000;
    width: 100%;
    padding:5px 20px;
    border-radius: 10px;
}
.file{
    margin-top: 10px;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #000;
    border-radius: 10px;
}
.file > span{
    font-weight: 600;
    font-size: 15px;
}
.fileInputLabel input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.fileInputLabel span {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
}
.fileInputLabel {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: #000;
    border: 1px solid #007bff;
    display: inline-block;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
}
.fileInputLabel:hover {
    color: #fff;
}
#fileInput{
    color: #000;
    width: 100%;
}
.submitSendMsg{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #0d6efd;
    border-radius: 10px;
    width: 100%;
    color: #fff !important;
    font-size: 20px;
}

.fileContent{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fileContent > h5 {
    font-weight: 600;
    font-size: 16px;
}
.file-box{
    width: 100%;
}
.file-box > input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 5px;
}
#file-inputMP{
    display: none;
}
#file-labelMP{
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px 5px;
}
#preview-containerMP {
    text-align: center;
    display: none;
    margin-top: 10px;
    position: relative;
  }
  #undo-button{
    position: absolute;
    top: -10px;
    right: 100px;
    cursor: pointer;
    color: red;
  }

  #preview-imageMP {
    max-width: 100%;
    width: 25%;
    height: auto;
  }

  #undo-button  > img {
    width: 20px;
    height: auto;
  }
#fileInputMP{
    color: #000;
    width: 100%;
}
/*-----------------Support Team-------------------*/

.support-slide {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 5px 20px 2px 20px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
    transition:  0.5s ease-in-out;
    z-index: 10;
}
.sendMessageHeading{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #000;
padding-bottom: 5px;
}
.supportHeading{
display: flex;
justify-content: center;
align-items: center;
border-bottom: 1px solid #000;
padding-bottom: 5px;
}
.supportHeading > span{
    padding-right: 5px;
    width: 30px;
    height: auto;
}
.supportHeading > h3{
    margin: 0;
}
.supportCall{
    border-bottom: 1px solid #000;
    padding: 10px 0px;
}
.supportCall > a{
    font-weight: 700;
    font-size: 16px;
    color: #007bff;
}
.support-content > div > a{
    font-weight: 700;
    font-size: 16px;
    color: #007bff;
}
.supportIcon{
    width: 35px;
    height: auto;
}
.supportIconGroup{
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #000;
}
.innerIconGroup{
    display: flex;
}
.innerElement{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innerElement > span{
    color: #000;
    font-weight: 700;
    font-size: 15px;
}

.socialIcon > .icon > a > img{
    width: 30px;
    height: auto;
}
.supportHeadingText {
    margin: 0;
    font-size: 18px;
}

/* ===========popup======== */
#popUpSection{
    z-index: 1036;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #000;
}
#popUpSection > .head{
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 7px 0px;
    border-radius: 10px 10px 0px 0px;
}
#popUpSection > .footer{
    border-top: 1px solid #000;
    padding: 3px 0px;
    display: flex;
    justify-content: center;
}
#popUpSection > .footer > p{
    width: 98%;
    padding: 5px 0px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    margin: 5px 0px;
}
#popUpSection > .body{
    font-size: 14px;
    text-align: center;
    padding: 10px 5px;
}
#reqTimeValidationSpan{
    margin-bottom: 3px;
    text-align: right;
    margin-top: -5px;
    color: red;
}
#overlayVideoChat{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1036;
}
/*-----------------Bootstrap class-------------------*/
.navbar-toggler:focus{
    box-shadow: none !important;
}
.nav-item > a{
    font-size: 13px;
}
.nav-item > a:active {
    background-color: #0000ff66;

}
.nav-item {
    border-bottom: 1px solid #000;
}
.bg-light{
    background-color: transparent !important;
}
.navbar-toggler{
    background-color: #A4B799 !important;
    padding: 2px 5px !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.offcanvas-title {
    width: 70px;
    height: auto;
}
.offcanvas-start {
    width: 80%; 
}
.offcanvas-start.show {
    transform: translateX(0);
    width: 80%; 
}
.container-fluid{
    align-items: flex-start !important;
}
/* =================footer btn ================ */
.footerBtn{
    display: flex;
    align-items: center;
}
.footerBtn > div{
    width: 50%;
    text-align: center;
    color: #fff;
    padding: 10px 0px;
    border-top: 1px solid #fff;
    font-weight: bold;
}
/* =========create new Id ========== */
.createNewIdBtn{
    width: auto !important;
    height: auto !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
/*-----------------Responsive-------------------*/

/* Extra Small Devices (phones) */
@media only screen and (max-width: 575.98px) {
    /* .get-new-01-ID{
        background-color: #007bff;
    } */
  }
  
  /* Small Devices (tablets) */
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    
  }
  
  /* Medium Devices (laptops) */
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    
  }
  
  /* Large Devices (desktops) */
  @media only screen and (min-width: 992px) {
    
  }
  
