/* ========================================== */

input[readonly] {
    background-color: #f0f0f0;
    opacity: 0.7;
    cursor: not-allowed;
}

/* ========================================== */

.btnGroup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    margin: 10px 0px;
    background-color: #fff;
}
.btnGroup > .Btn{
    padding: 10px 10px;
    border: 1px solid #0000005b;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
}
.btnGroup > .active{
    background-color: rgb(3, 3, 51);
    color: #fff;
}


.ipo_item{
    border: 1px  solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #000;
    margin-bottom: 15px;
}
table{
    width: 100%;
}
tr>td:first-child{
    text-align: left;
    width: 50%;
}
tr>td:last-child{
    text-align: right;
    width: 50%;
}

.box{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
}
.box-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.box-data > label{
    width: 50%;
    font-size: 18px;
}
.box-data > input{
    border: 1px solid #000;
    width: 50%;
}
.box-data > input,
.box-data > select{
    border: 1px solid #000;
    border-radius: 10px;
    width: 50%;
    height: 45px;
    font-size: 22px;
    text-align: center;
}
.submit-box{
    margin-top: 40px;
}
.submit-box > input{
    width: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 10px 0px;
    font-size: 20px;
}

.form-box-2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.form-box-2 > div{
    display: flex;
}
.form-box-2 > div > input{
    margin-right: 10px;
    width: 20px;
}

.proceed-btn{
    display: flex;
}
.proceed-btn > input{
    width: 50%;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 20px;
    text-align: right;
    margin: 10px;
}
.proceed-btn > input:first-child{
    background-color: #000;
    color: #fff;
    text-align: center; 
}
.otpSelectText{
    margin-bottom: 10px;
}