
.singleNoti{
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    padding-bottom: 10px;
}
.singleNoti > .date_status_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3F7F8;
    border-radius: 10px 10px 0px 0px;
    padding: 3px 10px;
}
.title_row,
.details_row{
    text-align: center;
}
.title_row > h4,
.details_row > h4{
    margin-top: 6px;
    margin-bottom: 5px;
    font-size: 18px;
}
.title_row > p,
.details_row > p{
    font-size: 14px;
    text-align: left;
    padding: 0px 8px;
}
.readBtnRow{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.readBtn{
    border: 1px solid #000;
    padding: 7px 10px;
    background-color: #0BAC28;
    border-radius: 5px;
    color: #fff;
}