.mainContentSection{
    height: 100%;
}
.heading{
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(3, 3, 51);
    color: #fff;
}
.sub-heading{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    font-size: 16px;
    color: #000;
    background-color: #e9ecef;
    margin-bottom: 5px;

}

.profitLossSummary{
    background-color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.profitLossSummary > .itemRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnRow{
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #868686;
    margin-bottom: 5px;
    z-index: 1;
}
.btnGroup{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    align-items: center;
}
.stockBtn{
    padding: 8px 15px;
    border: 3px solid #676a66e8;
    border-radius: 10px;
}
.btnGroup > .active{
    background-color: #5C5C5C;
    padding: 8px 15px;
    border-radius: 10px;
}
.currentBtn,.stockBtn{
    font-size: 14px;
    color: white;
    font-family: sans-serif;
}
.currentStockBody,
.oldStockBody{
    padding: 0px 10px;
    position: relative;
}
.stockBody{
    background-color: #fff;
    border-radius: 5px;
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

table > tbody > tr > td{
    box-shadow: 0px 0px 5px 0px #000;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000 !important;
}

.currentStockFooter,
.oldStockFooter{
    position: sticky;
    bottom: 0;
    display: flex;
    background-color: #000;
    color: #fff;
    justify-content: space-between;
}
.currentStockFooter > p,
.oldStockFooter > p{
    padding: 5px 0px;
    padding-right: 20px
}
/* ======================Profit-Loss=============== */
.top{
    border-bottom: 2px solid #000;
    margin-bottom: 15px;
}
.topHead,
.profit-loss,
.bottom>div{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom > div > p{
    text-align: center;
    width: 25%;
}
.topHead{
    margin-bottom: 20px;
}
.topHead>h2{
    margin: 0;
    font-weight: 700;
    font-size: 20px;

}
.profit-loss{
    margin-bottom: 5px;
}
.bottom > div > p,
.profit-loss > p{
    font-weight: 600;
}