.referDetails,
.referredList{
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
}
.box-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.box-data > p:first-child{
    font-weight: 500;
    width: 70%;
    color: #000;
}
.box-data > p:last-child{
    font-weight: 500;
    width: 30%;text-align: right;
    color: #000;
}
.link-box{
    margin-top: 15px;
}
.link-box > p:first-child{
    font-weight: 500;
    margin-bottom: 10px;
}
.link-box > p:last-child{
    font-weight: 700;
    color: #2C007B;
}

.heading_refer{
    text-align: center;
    margin-top: 15px;
    padding: 15px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #e9ecefd9;
}

.searchImg{
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #000;
}
.input-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-box > span{
    font-weight: 800;
}
.input-box > input {
    padding: 10px 10px;
    background-color: #676a6666;
    border-radius: 10px;
    font-weight: 700;
    width: 140px;
}
.btnRow{
    margin-bottom: 10px;
}
/*=================table================*/
.table-content{
    overflow-y: auto;
    max-height: 400px;
}
.referredList > .box > .table-content > table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    overflow-y: auto;
    height: 200px;
}

.referredList > .box > .table-content > table > tbody > tr:first-child{
    position: sticky;
    top: 0;
    background-color: black;
}
.referredList > .box > .table-content > table > tbody > tr:first-child > th{
    
    color: #fff;
    font-size: 12px;
    padding: 5px 1px;
    text-align: center;
}
.referredList > .box > .table-content > table > tbody > tr:first-child > th:first-child{
    -webkit-padding-start: 10px;
}
.referredList > .box > .table-content > table > tbody > tr:first-child > th:last-child{
    -webkit-padding-end: 10px;
}

.referredList > .box > .table-content > table > tbody > tr > td{
    font-weight: 700;
    font-size: 12px;
    padding: 10px 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #000 !important;
    text-align: center;
}
.referredList > .box > .table-content > table > tbody > tr > td:first-child{
    -webkit-padding-start: 10px;
    border-left: 1px solid #000;
    border-radius: 15px 0px 0px 15px;
}
.referredList > .box > .table-content > table > tbody > tr > td:last-child{
    -webkit-padding-end: 10px;
    border-right: 1px solid #000;
    border-radius: 0px 15px 15px 0px;
}
.referredList > .box > .referListFooter {
    position: sticky;
    bottom: 0;
    display: flex;
    background-color: #212529f5;
    color: #fff;
    justify-content: space-between;
    padding: 5px 10px;
}