.mainContentSection{
    padding-bottom: 30px;
}
.heading{
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(3, 3, 51);
    color: #fff;
    margin-bottom: 5px;
}
/* ========================Search box====================== */
.searchContent{
    padding: 5px 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
}
.input-box{
    padding: 0px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.input-box > input{
    padding: 10px 2px;
    background-color: #676a6666;
    border-radius: 10px;
    font-weight: 500;
    width: 105px;
    text-align: center;
    font-size: 14px;
}
.input-box > span{
    font-weight: 500;
    font-size: 14px;
}
.searchLedger{
    margin-top: 5px;
    border-radius: 11px;
    text-align: center;
    padding: 10px 0px;
    background-color: #000;
    color: #fff;
}

/* ========================Ledger Summury====================== */
.ledgerSummury{
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #fff;
    margin-bottom: 5px;
}
.item{
    display: flex;
    padding: 5px 0px;
}
.item > .left{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.item > .right{
    text-align: right;
    width: 70%;
}
.item > .right > p,
.item > .left > p{
    font-size: 14px;
}
.ledgerTable > table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    background-color: #fff;
    padding: 0px 5px;
    border: 1px solid #000;
    border-radius: 10px;
}

.ledgerTable > table > tbody > tr:first-child{
    background-color: black;
}
.ledgerTable > table > tbody > tr:first-child > th{
    color: #fff;
    font-size: 14px;
    padding: 5px 5px;
    text-align: center;
}


.ledgerTable > table > tbody > tr > td{
    font-size: 13px;
    padding: 5px 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    overflow-wrap: break-word;
    text-align: right;
}
.ledgerTable > table > tbody > tr > td:first-child{
    padding-left: 10px;
    text-align: left !important;
    border-left: 1px solid #000;
    border-radius: 15px 0px 0px 15px;
}
.ledgerTable > table > tbody > tr > td:last-child{
    padding-right: 10px;
    border-right: 1px solid #000;
    border-radius: 0px 15px 15px 0px;
}


.balanceRow > td{ 
    border-color: #CFCDCE !important;
    border-radius: 0 !important;
    text-align: right;
    padding: 5px !important;
}