
/*=================table================*/
#dividendContent{
    background-color: #fff;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dividendContent > table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
#dividendContent > table > tbody > tr:first-child{
    position: sticky;
    top: 0;
    background-color: black;
}
#dividendContent > table > tbody > tr:first-child > th{
    width: 25%;
    color: #fff;
    font-size: 14px;
    padding: 5px 1px;
    text-align: center;
    overflow-wrap: break-word;
}

#dividendContent > table > tbody > tr > td{
    padding: 5px 5px;
    font-size: 13px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #000 !important;
    width: 25%;
    text-align: left;
    overflow-wrap: break-word;
}
#dividendContent > table > tbody > tr > td:first-child{
    padding-left: 10px;
    border-left: 1px solid #000;
    border-radius: 15px 0px 0px 15px;
}
#dividendContent > table > tbody > tr > td:last-child{
    padding-right: 10px;
    border-right: 1px solid #000;
    border-radius: 0px 15px 15px 0px;
}