.mainContentSection{
    position: relative;
    overflow-y: auto;
    height: 80vh;
}
/*==============table==============*/
.tp_rate_history{
    background-color: #fff;
    padding: 0px 10px;
}
.tp_rate_history > table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    
}

.tp_rate_history > table > tbody > tr:first-child{
    background-color: black;
    position: sticky;
    top: 0;
    
}
.tp_rate_history > table > tbody > tr:first-child > th{
    color: #fff;
    font-size: 20px;
    padding: 5px 1px;
    text-align: center;
    
}
.tp_rate_history > table > tbody > tr:first-child > th:first-child{
    -webkit-padding-start: 10px;
}
.tp_rate_history > table > tbody > tr:first-child > th:last-child{
    -webkit-padding-end: 10px;
}

.tp_rate_history > table > tbody > tr > td{
    font-weight: 700;
    font-size: 15px;
    padding: 10px 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #000 !important;
    text-align: center;
}
.tp_rate_history > table > tbody > tr > td:first-child{
    -webkit-padding-start: 10px;
    border-left: 1px solid #000;
    border-radius: 15px 0px 0px 15px;
}
.tp_rate_history > table > tbody > tr > td:last-child{
    -webkit-padding-end: 10px;
    border-right: 1px solid #000;
    border-radius: 0px 15px 15px 0px;
}